.side_menu_systems {
    margin-bottom: 10px;
    /* border-left: 5px solid green; */
}
.side_menu_systems-system li {
    list-style: none;
}
.side_menu_systems-system li a{
    text-decoration: none;
}
.side_menu_systems-system-details {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--inactiveColor);
    /* background-color: rgb(163, 163, 197); */
    /* border-left: 5px solid green; */
}
.side_menu_systems-system-details-nameIcon {
    display: flex;
    align-items: center;
    gap: 10px;
}
.side_menu_systems-system-details-nameIcon-icon {
    display: flex;
}
.side_menu_systems-system-details-nameIcon-name {
    display: flex;
    /* font-size: 15px; */
}
.side_menu_systems-system-details-arrow {
    display: flex;
    align-items: center;
}
.side_menu_systems-system-features {
    /* width: 364px; */
    /* height: 0;
    opacity: 0;
    overflow: hidden; */
    display: none;
    transition: height 0.3s ease-in;
}
.side_menu_systems-system-features-feature {
    margin-left: 40px;
    /* background-color: aqua; */
    border-left: 2px solid var(--blue_04);
}




/* features expand status */
.side_menu_systems-system-features.expand {
    display: inline;
    height: auto;
    /* opacity: 1; */
}





/* collapse status */
.side_menu.collapse .side_menu_systems-system-details-nameIcon-name {
    display: none;
}
.side_menu.collapse .side_menu_systems-system-details-arrow {
    display: none;
}