:root {

  /* colors */

  --background: #EDF7F6;

  --blue_01: #164863;
  --blue_02: #427D9D;
  --blue_03: #9BBEC8;
  --blue_04: #DDF2FD;

  --green_01: #99BC85;
  --green_02: #BFD8AF;
  --green_03: #D4E7C5;
  --green_04: #E1F0DA;

  --black: #1d1d1f;
  --white: #ffffff;
  --warning: #db162f;
  --succesful: #1ec91c;

  --inactiveColor: #828887;


  /* fonts */

  --title: 16px;
  --normal: 13px;
  --subTitle: 14px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}